<?xml version="1.0" encoding="UTF-8" ?>
<mapper>
    <resultMap id="UserResultMap" type="com.zzh.demo.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByNameAndAge" resultMap="UserResultMap" parameterType="String">
        select * from user u
        <where>
            u.name = #{name}
            and u.age = #{age}
        </where>
    </select>
</mapper>